:root {
  /* Background color */
  --header-color: #fcf9f9;
  --discount-color: #ee92da;
  --footer-color: #fcf9f9;
  --sidenav-color: #eee7e7;
  
  /* Color Text */
  --header-color-text: #491545;
  --discount-color-text: #491545;
  --item-color-text:#9e0c7e;
  --price-color-text:#491545;
  --main-color-text: #491545;
  --footer-color-text: #491545;
  --sidenav-color-text: #491545;

}
.App {
 display: flex;
 flex-direction: column;
}

.shadow {
  display: flex; 
}

@keyframes example {
  from {background-color: transparent;}
  to {background-color: #0009;}
}

.shadow::before{
content: '';
width:100%;
height: 100%;
background-color: #0009;
position: fixed;
z-index: 1009;
animation-name: example;
animation-duration: 0.5s;
}

.header-container {
  position:sticky;
  left:0;
  top:0;
  display: flex;
  background-color: var(--header-color);
  width: 100%;
  justify-content:space-evenly;
  align-items: center;
  z-index: 100;
 }

.store-name {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2em;
  color: var(--header-color-text);
  padding: 0 1em;
  font-weight: 500;
}

.icon-header {
  position: absolute;
  z-index: 200;
  right: 30px;
  top: 30px;
  color: var(--header-color-text);
 
}
.container-sidenav{
  position: absolute;
  background-color: #491545;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed; 
  z-index: 3000;
  top: 0; 
  left: 0;
  background-color: var(--sidenav-color);
  overflow-x: hidden;
  padding-top: 25px; 
  transition: 0.5s; 
  box-shadow: 5px 5px 5px #946a92;
}

.sidenav .item-sidenav {
  text-decoration: none;
  color: var(--sidenav-color-text);
  display: flex;
  justify-content:space-between;
  align-items:center;
  transition: 0.3s;
  font-size: 1em;
  width: 70%;
  padding: 0 1.5em;
 
}

.sidenav .item-sidenav:hover {
  color: var(--item-color-text);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background-color: transparent;
}

.linea-sidenav{
  height: 2px;
  border-width: 0;
  background-color: #946a92;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  color: VAR(--main-color-text);
}
.discoint-article{
  position: relative;
  display: flex;
  width: auto;
  background-color: var(--discount-color);
  justify-content: center;
  padding: 1em;
  color:var(--discount-color-text);
}
.discoint-article span  {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.title-section{
  align-self: center;
  font-size: 1.7em;
}

.message-section {
  text-align: center;
  align-self: center;
  line-height: 2em;
  width: 80%;
}

.gallery-grid {
  display: grid;
  width: 90vw;
  height: auto;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;
  grid-gap: 2.5em;
  justify-content: space-evenly;
  align-self: center;
  margin: 1em 0;
  padding: 2em 0;
}

.photo-gallery {
  max-width: 250px;
  height: 350px;
  margin: 0;
}
.photo-gallery:hover{
  background-color: #bbbbbb;
  filter:brightness(0.8);
}

.img-photo{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.img-photo:hover{
  filter:brightness(0.8);
  cursor:pointer;
}

.info-photo{
  display: flex;
  flex-direction: column;
  height:auto;
  margin: 0;
  line-height: 0;
  width: 100%;
  background-color: var(--white-header-color);
  text-align: center;
}


.info-photo h4 {
  color: var(--item-color-text);
  line-height: 0;
}

.info-photo h4:hover {
  text-decoration: underline;
}
.info-photo p {
  color: var(--price-color-text);
}
.info-photo .info-price {
  color: var(--item-color-text);
}
.info-photo p:hover {
  text-decoration: underline;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  width: 100%;
  height: auto;
  text-align: center;
  font-size: small;
  padding-top: 25px;
}

.footer-container h2 {
  font-size: 3em;
}

.icon-footer {
  display: grid;
  grid-template-columns: repeat(3,40px);
  grid-gap: 20px;
  justify-items: center;
  font-size: xx-large;
  color: var(--footer-color-text);
  padding-bottom: 0.5em;
}

.line-footer {
  color: var(--footer-color-text);
  width: 40%;
}

.credits {
  padding-bottom: 2em;
  color: var(--footer-color-text);
}

.credits p {
  line-height: 0.7;
}

.credits a {
  text-decoration: none;
  color: var(--footer-color-text);
}

@media screen and (max-width: 470px){

  .store-name {
    padding: 0.5em;
    font-size: 1.5em;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav .item-sidenav {
    font-size: 18px;
  }

  .discoint-article{
    padding-top: 2em;
    font-size: smaller;
    text-align: center;
    font-weight: 900;
  }
}


