/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: grid;
  justify-content: space-evenly;
  background-color: #fdfcfd;
  margin: auto; 
  padding: 2em;
  border: 1px solid #888;
  overflow-y:auto;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto;
 
}

/* The Close Button */
.modal-close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top:0.5rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}

.imageModal {
  width: 300px;
  height: 300px;
}

.dataModal {
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dataModal h4 {
  font-weight: 700;
  color: #9e0c7e;
  font-size: 1.5em;
  line-height: 0.5em;
}

.dataModal span {
  font-weight: 500;
  padding: 0.5em 0;
  font-size: 1.2em;
}

.dataModal button {
  border: none;
  background-color: #9e0c7e;
  padding: 0.7em;
  width: 50%;
  margin-top: 0.3em;
  color: #faf3f9;
  font-size: 1em;
  align-self: center;
}

.dataModal button:hover {
  background-color: #ad4b98;
}

.spanRed {
  color: #900;
}