:root {
  --main-fs-color: #fffbeb;
  --comp-ss-color:#bd8307;
  --text-gray-color: #666666;
  --main-gold-color: #f8c046;
  --text-store-color: #444444;
  --gallery-fs-color:#cdcdcd;
  --gallery-info-color: #ffffff;
}
.App {
 display: flex;
 flex-direction: column;
}

/* Header CSS Style */

.header-container {
  position:fixed;
  left:0;
  top:0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-fs-color);
  width: 100vw;
  justify-content:space-between;
  align-items: center;
  z-index: 100;
}

.store-name {
  font-family: 'Rozha One','BenchNine', sans-serif;
  font-size: 3em;
  margin: 0;
  color: var(--text-store-color);
  padding: 0 1em;
  font-weight: 300;
}
.store-name-i{
  font-size:medium;
}

.nav-header{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 2em;
}

.a-nav {
  text-decoration: none;
  padding: 1.5em 2em;
  color: var(--text-gray-color);
  font-weight: 620;
}

.a-nav:hover{
  background-color: var(--main-gold-color);
  color: var(--text-store-color);
}

.icon-header {
  color: var(--text-gray-color);
  display: none;
  
}

/* Main CSS Style */


.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  color: VAR(--text-gray-color);
}

.discoint-article{
  position: relative;
  display: flex;
  height: 5.5em;
  align-items: flex-end;
  width: auto;
  background-color: var(--main-gold-color);
  justify-content: center;
  padding: 1em;
  color:var(--text-store-color);
  
}
.discoint-article span  {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.title-section{
  align-self: center;
  font-size: 1.7em;
}

.message-section {
  text-align: center;
  align-self: center;
  line-height: 2em;
  width: 80%;
}

.gallery-grid {
  display: grid;
  width: 90vw;
  height: auto;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;
  grid-gap: 2.5em;
  justify-content: space-evenly;
  align-self: center;
  margin: 1em 0;
  padding: 2em 0;
}

.photo-gallery {
  max-width: 250px;
  height: 350px;
  margin: 0;
}
.photo-gallery:hover{
  background-color: #bbbbbb;
  filter:brightness(0.8);
}

.img-photo{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.img-photo:hover{
  object-fit: contain;
  filter:brightness(0.8);
}

.info-photo{
  display: flex;
  flex-direction: column;
  height:auto;
  margin: 0;
  line-height: 0;
  width: 100%;
  background-color: var(--gallery-info-color);
  text-align: center;
}


.info-photo h4 {
  color: var(--comp-ss-color);
  line-height: 0;
}

.info-photo h4:hover {
  text-decoration: underline;
}
.info-photo p {
  color: var(--text-gray-color);
}
.info-photo p:hover {
  text-decoration: underline;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-fs-color);
  width: 100vw;
  height: auto;
  text-align: center;
  font-size: small;
  padding-top: 25px;
}

.footer-container h2 {
  font-size: 2em;
}

.icon-footer {
  display: grid;
  grid-template-columns: repeat(3,40px);
  justify-items: center;
  font-size: medium;
  color: var(--text-gray-color);
  padding-bottom: 1em;
}

.line-footer {
  color: var(--text-gray-color);
  width: 40%;
}

.credits {
  padding-bottom: 2em;
}

.credits p {
  line-height: 0.7;
}

.credits a {
  text-decoration: none;
  color: var(--text-gray-color);
}

/* Media Query CSS Max-Width 470px */
@media screen and (max-width: 470px){

  /* Header media query */
  .header-container{
    justify-content: space-between;
  }
  .store-name {
    padding-left: 0.5em;
  }

  .nav-header{
    width: 100%;
    order: 2;
    justify-content: center;
    display: none;
  }
  .a-nav{
    width: 100%;
   text-align: center;
  }
  .icon-header{
    margin-right: 1em;
    display:inline-block;
  }
  /* Main Media Query */

  .discoint-article{
    padding-top: 3em;
    font-size: smaller;
    text-align: center;
    font-weight: 900;
  }
}
/* Media Query CSS Max-Width 850px */
@media screen and (max-width: 850px){

  /* Header media query */
  .header-container{
    justify-content: space-between;
  }
  .store-name {
    padding-left: 0.5em;
  }

  .nav-header{
    display: none;
  }

  .icon-header{
    display: inline-block;
    padding-right: 3em;
  }

  /* Main Media Query */

  .discoint-article{
   height: 6.5em;
    font-size: smaller;
    text-align: center;
    font-weight: 900;
  }
}

/* Media Query CSS Max-Width 1140px */
@media screen and (max-width: 1140px){

  /* Header media query */
  .header-container{
    justify-content: space-between;
  }
  .store-name {
    padding-left: 0.5em;
  }

  .a-nav {
    padding: 1em;
    font-size: 0.9em;
    font-weight: 620;
  }
  .a-nav:hover{
    background-color: var(--comp-ss-color);
    color: var(--text-store-color);
  }
  /* Main Media Query */

  .discoint-article{
   height: 6.5em;
    font-size: smaller;
    text-align: center;
    font-weight: 900;
  }
}

